[Unit]
Description=Optional SRv6 MUP development on Monday, Wednesday and Friday

[Timer]
OnCalendar=Mon,Wed,Fri *-*-* 03:00:00 Asia/Tokyo
AccuracySec=30s
Persistent=false
Unit=srv6-mup-background.service

[Install]
WantedBy=timers.target
